body {
  margin: 0;
  padding: 0;
}

#header {
 background-color: black;
 width:100%;
 height: 45px;
 margin: 0;
 padding: 0;
overflow: hidden;
}

#header table {
  width: 100%;
  height: 100%;
  border: 0;
  border-collapse: collapse;

}

#header td {
  color: white;
  width: 10%;
 float: left;
  user-select: none;
    text-align: center;
    font-size: 20px;
    margin: -9px 2px 0;
    min-width: 70px;
    max-width: 100px;
     
}

#header td:hover {
  opacity: 70%;
}

#startpage {

  background-color: #051F24;
  margin: 0 0 0 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;

 
}

.bigtitle {
  font-size: 13vh;
    text-align: center;
    margin: 4vh auto 3vh;
    padding: 0;
}

.liltitle {
    font-size: 5vh;
    text-align: center;
    margin: 0 auto 5vh;
    padding: 0;
    color: #DDDEC8;
        font-family: 'Trebuchet MS', sans-serif;
}

#buttoncontainer {
   display: flex;
  justify-content: center;
  align-items: center;
 
}



#button {
    display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DDDEC8;

  height: 6vh;
  min-width: 150px;
  padding: 7px;
  text-align: center;
  font-size: 4vh;
  font-family: Verdana;
  color: #051F24;
 white-space: nowrap;
 border-radius: 15px;

}

#button:hover {
  transition: color 0.2s ease ;
  color:white;
  
}

.contain {
  
  margin: 0;
  padding: 0;
    height: 100vh;
    width: 100%;   
       overflow: auto; 
}

.halfcontain {
  
  margin: 0;
  padding: 0;
    height: 50vh;
    width: 100%;   
       overflow: auto; 
}

#stepstable {

    margin:0;
    padding:0;
  width: 100%;
  height: 100%;
  border: 0;
  border-collapse: collapse;
  box-sizing: border-box;
border-spacing: 0;

}

#stepstable td {

  margin:0;
  padding:0;
  height: 100%;

  width: 33.33%;
 

  font-size: 20px;

  
}

.containersteps {
 
  background-color: #E4D24C;
  height: 100%;
  width: 100%;
  min-width: 200px;
  padding: 4vh 3vw 4vh;
  box-sizing: border-box;
 
}


.containsteps {
 
  background-color: #051F24;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  padding: 5vh;
  box-sizing: border-box;
  color: white;
  user-select: none;
    text-align: center;

 
    
}

.stepspicture {
       display: flex;
  justify-content: center;
  align-items: center;
height: 100%;
  box-sizing: border-box;
}
.stepspicture img {

  width: 40%;
  height: auto;
}

.stepstext p {
  margin: 2vh 0 2vh;
    font-size: 5vh;
     font-family: 'Trebuchet MS', sans-serif;
    color: #DDDEC8;
}

