body {
  margin: 0;
  padding: 0;
}

#header {
 background-color: black;
 width:100%;
 height: 45px;
 margin: 0;
 padding: 0;
overflow: hidden;
position: fixed;
}

#header table {
  width: 100%;
  height: 100%;
  border: 0;
  border-collapse: collapse;

}

#header td {
color: white;
  width: auto;
 float: left;
  user-select: none;
    text-align: center;
    font-size: 20px;
    margin: -9px 15px 0;

}

#header td a {
    color: inherit;
    text-decoration: none;
}

#header td:hover {
  opacity: 70%;
}

#startpage {
  background-color: #051F24;
  margin: 0 0 0 0;
  padding-top: 45px;;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
 
}
.bigtitle {
  font-size: 13vh;
    text-align: center;
    margin: 11vh auto 3vh;
    padding: 0;
}

.liltitle {
    font-size: 5vh;
    text-align: center;
    margin: 0 auto 5vh;
    padding: 0;
    color: #DDDEC8;
        font-family: 'Trebuchet MS', sans-serif;
}

.contain {
  
  margin: 0;
  padding: 0;
    height: 100vh;
    width: 100%;   
       overflow: auto; 
}

.halfcontain {
  
  margin: 0;
  padding: 0;
    height: 50vh;
    width: 100%;   
       overflow: auto; 
}

#left {
  width: 50vh;
  height: 100%;
  float: left;
  background-color: #020B0D;
  border-right: 1px solid #E4D24C;
  margin:0;
  padding:0;
  overflow: auto;
  box-sizing: border-box;
}


#right {
  width: calc(100% - 50vh);
  height: 100%;
 float: right;
}

#cover {
  width: 40vh;
  height: 40vh;
  border-radius: 1vh;
  padding: 3vh;
  box-sizing: border-box;
}

#cover img {
  height: 100%;
  width: 100%;
  border-radius: 1vh;
}

.songleft {
  margin: 0;
  padding: 0 0 0 2vh;
  width: 100%;
  height: 10%;
  max-height: 75px;
  display: flex;
  align-items: center;
  background-color: #020B0D;
  border-bottom: 1px solid #E4D24C;
  box-sizing: border-box;
  color: #DDDEC8;
  font-size: 3vh;
  overflow: hidden;
   font-family: Helvetica;
}

.songleft:hover {
   filter: brightness(130%);
}

.songleft:active {
   filter: brightness(150%);
}

#left2 {
  width: 40vh;
  height: 100vh;
  float: left;
  margin:0;
  padding:0;
  overflow: hidden;
}


#right2 {
  width: calc(100% - 40vh);
  height: 100vh;
 float: right;
 padding-top: 1vh;
 box-sizing: border-box;
}

#error {
   color: #020B0D;
 margin: 0 0 2vh 0;
 padding: 0;
 text-align: center;
 font-size: 2.5vh;
 font-family: Helvetica;
  user-select: none;
}

.text {
 color: #DDDEC8;
 margin: 0;
 padding: 0;
 text-align: left;
 font-size: 2.5vh;
 font-family: Helvetica;
  margin: 2vh 3vh 0;
}

.inputs {
  width: 90%;
  height: 10%;  
  border-radius: 10px;
  border: 1px solid #EBECD9;
  margin: 2vh 2vh 1vh;
  background-color: #051F24;
  padding-left: 2vh;
  box-sizing: border-box;
  font-size: 3.5vh;
  color:#EBECD9;
  outline: none;
}

.inputs:hover {
  filter: brightness(130%);
}

.inputs:focus {
  border: 1.5px solid white;
  filter: brightness(150%);
}

.butt {
  height: 10%;
  width: 100%;
  text-align: center;
  margin-left:2vh;

}

.butt p {
  display: flex;
  justify-content: center;
  align-items: center;
 width: 65%;
height: 100%;
font-size:3.5vh;
 border-radius: 10px;
 user-select: none;
 font-family: Helvetica;
 color: #7a7a70; 
 background-color: #dddec8;
 float: left;
}

.butt p:hover {
 filter: brightness(130%);
}

.butt p:active {
   filter: brightness(150%);
}

#playbutt {
 width: 10vh !important;
 border-radius: 100vw !important;
 margin-left: 3vh;
 user-select: none;
 
}

#playbutt img {
  
width: 100%;
height: 100%;
}

